html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    flex: 1 0 32px;
    display: flex;
    background-color: #1F2137;
    padding: 0px 256px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.header p {
    font-size: 24px;
    font-weight: 1000;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 32px;

}

.header ul li {
    font-size: 18px;
    color: #E5E7EB
}

.introduction {
    flex: 1;
    background-color: #1F2137;
    color: white;
}

.information {
    flex: 1;
    background-color: white;

}

.quote-container {
    flex: 1;
    background-color: #E5E7EB;
}

.sign-up-container {
    flex: 1;
    background-color: white;
}

.footer {
    flex: 1 0 50px;
    display: flex;
    background-color: #1F2137;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}