html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    flex: 1 0 32px;
    display: flex;
    background-color: #1F2137;
    padding: 0px 256px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.header p {
    font-size: 24px;
    font-weight: 1000;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 32px;

}

.header ul li {
    font-size: 18px;
    color: #E5E7EB
}

.introduction {
    flex: 1;
    display: flex;
    background-color: #1F2137;
    align-items: center;
    justify-content: center;
    padding: 64px 0px;
    gap: 32px;
}

.introduction .intro-content {
    /* border: 2px solid red; */
    flex: 0 1 600px;
    height: 400px;
}

.introduction .intro-content h1 {
    font-size: 64px;
    font-weight: bolder;
    color: #F9FAF8;
}

.introduction .intro-content p {
    font-size: 20px;
    color: #F9FAF8;
}

.introduction .intro-content button {
    flex: none;
    background-color: #3882F6;
    padding: 8px;
    border: 0px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #F9FAF8;
    transition: 0.2s;
}

.introduction .intro-content button:hover {
    background-color: #F9FAF8;
    color: #1F2137;
}

.introduction .intro-content button:active {
    background-color: #48A14D;
    color: #F9FAF8;
}

.introduction img {
    flex: none;
    width: 600px;
    border-radius: 8px;
    height: auto;
}

.information {
    margin-bottom: 96px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
}

.information h1 {
    margin: 64px;
    flex: 0 0 auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2137;
}

.information ul {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    /* border: 2px solid red; */
}

.information ul li {
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information ul li img {
    width: 300px;
    height: auto;
    border: 8px solid #3882F6;
    border-radius: 12px;
}

.information ul li p {
    font-size: 20px;
    color: #5A5A5A;
}

.quote-container {
    flex: 1;
    padding: 96px 384px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: flex-end;
}

.quote-container .quote {
    margin: 0px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-container .quote-author {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color:#1F2937
}

.sign-off-container {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 256px;
}

.sign-off-container .sign-off-window {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 48px 128px;
}

.sign-off-container .sign-off-window .sign-off-content {
    flex: 0 2 auto;
    display: flex;
    flex-direction: column;
}

.sign-off-container .sign-off-window .sign-off-content h1 {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.sign-off-container .sign-off-window .sign-off-content p {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.sign-off-container .sign-off-window button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    transition: 0.2s;
}
.sign-off-container .sign-off-window button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.sign-off-container .sign-off-window button:active {
    background-color: red;
    color: #F9FAF8;
}

.footer {
    flex: 1 0 50px;
    display: flex;
    background-color: #1F2137;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}